body {
    font-family: 'Work Sans', sans-serif; 
    background: url('images/background.jpg') no-repeat center center fixed; /* Background image */
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #4a4747; 
}

#title {
    font-weight: 555;  /* font-weight: normal/400 */
    font-size: 70px; 
    color: #434343; 
    margin-bottom: 30px; 
    overflow: hidden; 
    border-right: .15em #000000;
    white-space: nowrap; 
    animation: animated-text 5s steps(40, end), blink-caret .75s step-end 5s; 
    text-align: center; 
}

/* Animation */
@keyframes animated-text {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-right-color: #000000; }
}

.todo-container {
    background: rgba(255, 255, 255, 0.9); 
    padding: 50px; 
    border-radius: 15px; 
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3); 
    width: 500px; 
    text-align: center; 
}

.todo-container h2 {
    font-size: 25px; 
    color: #4c4646; 
    margin-top: 25px; 
    margin-bottom: 20px; 
}

.todo-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

#todo-input {
    flex: 1;
    padding: 15px; 
    border: none;
    border-radius: 5px;
    font-size: 18px; 
    background-color: #dcdcdc; 
}

#add-todo {
    background-color: #5ecf6f;
    color: #ffffff; 
    border: none;
    border-radius: 9px;
    padding: 15px; 
    cursor: pointer;
    font-size: 19px; 
}

#add-todo:hover {
    background-color: #1ec737; 
}

#todo-list {
    list-style: none;
    padding: 0;
    margin-top: 20px; 
    margin-bottom: 10px; 
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333333; 
    padding: 15px; 
    margin-bottom: 10px;
    border-radius: 5px;
    color: #ffffff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 18px; 
}

.todo-item.completed .todo-text {
    text-decoration: line-through;
    opacity: 0.6;
}

.todo-text {
    flex: 1;
    font-size: 18px; 
}

.todo-actions button {
    background: #ffffff; 
    border: 1px solid #cccccc; 
    border-radius: 5px; 
    cursor: pointer;
    font-size: 30px;
    margin-left: 5px; 
}

.todo-actions .check-btn {
    color: #4caf50;
}

.todo-actions .delete-btn {
    color: #f44336; 
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 2px solid #ccc; 
}

.todo-footer {
    display: flex;
    justify-content: space-between;
    font-size: 18px; 
    color: #333333; 
    margin-top: -18px;
}